/** Outer Sidebar Container **/
#outer-sidebar-container, #closed-outer-sidebar-container {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;

    transition: width 0.5s;
}

#outer-sidebar-container {
    width: 250px;
}

#closed-outer-sidebar-container {
    width: 50px;
}

/** Sidebar Inner Containers **/
#sidebar-container {
    position: absolute;
    top: 0;
    bottom: 50px;

    background-color: var(--secondary-main-color);
    overflow: hidden;
}

#sidebar-container *, #closed-sidebar-container * {
    transition: opacity 0.5s;
}

#sidebar-container {
    width: 250px;
}

#sidebar-container * {
    opacity: 1;
}

#closed-outer-sidebar-container #sidebar-container * {
    opacity: 0;
}

#sidebar-toggler-container {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 50px;
    background-color: var(--secondary-main-color);
}

/** Sidebar Title **/
#sidebar-title {
    padding: 15px 0;
    margin: 0;

    color: var(--text-color);
    font-size: 26px;
    text-align: center;
}

/** Conversation Buttons Container **/
#conversation-buttons-container {
    display: flex;
    width: 100%;
}

#conversation-buttons-container button {
    flex: 1;
    height: 35px;
    background-color: transparent;
    border: 3px solid var(--primary-main-color);
    outline: none;
    cursor: pointer;

    color: white;
    font-size: 18px;
}

#conversation-buttons-container .active {
    background-color: var(--primary-main-color);
}

/** Conversation Listings **/
#conversation-listings-container {
    height: calc(100% - 100px); /* '- 100px' is the height being used above this element. */
    overflow-y: auto;
}

#conversation-listings-state {
    margin: 10px 0 0 0;

    font-size: 18px;
    text-align: center;
}

/** Sidebar Toggler **/
#sidebar-toggler {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 50px;
    max-width: 100%;
    height: 50px;
    padding: 0;
    background-color: var(--bg-color);
    border: none;
    border-top-left-radius: 25px;
    outline: none;
    cursor: pointer;

    color: var(--text-color);
    font-size: 21px;
    line-height: 50px;

    transition: width 0.5s, color 0.5s;
}

#sidebar-toggler:hover {
    width: 125px;

}