/** App Container **/
/* Only allows elements to display within the screen boundaries. */
#app-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

/** Content Container **/
#content-container {
    display: flex;
    height: calc(100vh - 50px);
    margin: 0;
    box-sizing: border-box;
}

#content-container * {
    flex: 1;
}

/** Global Styles **/
.hidden {
    display: none;
}

/** Status Styles **/
.online {
    color: limegreen !important;
}

.busy {
    color: red !important;
}

.away {
    color: gold !important;
}

.offline {
    color: gray !important;
}